<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smilo.bullpen"
    android:versionCode="7"
    android:versionName="1.221" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name="BullpenApplication"
        android:icon="@drawable/image"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.smilo.bullpen.WidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration" />
        </receiver>

        <service
            android:name="com.smilo.bullpen.services.ListViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="com.smilo.bullpen.services.ContentsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.smilo.bullpen.activities.ConfigurationActivity"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smilo.bullpen.activities.SearchActivity"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.smilo.bullpen.activities.AddToBlacklistActivity"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.smilo.bullpen.activities.WebViewActivity"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>
